# Node
node_modules/
.env
.env.*

# Build
assets/css/*.css
assets/css/*.min.css
assets/css/dist/
dist/
*.log

# VSCode
.vscode/

# MacOS
.DS_Store

# Netlify
.netlify/

# Outros
*.tmp
*.swp
*.swo
.idea/
*.bak
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testes
coverage/

# Git
.git/ 