@use '../base/variables' as *;

// Hero
.hero {
  display: grid;
  grid-template-columns: 1fr;
  padding-block: 6rem 4rem;
  background: linear-gradient(160deg, #02995e, #00b1d4);
  color: #fff;
  text-align: center;

  @media (width >= 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    text-align: left;
    align-items: center;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: clamp(2.2rem, 4vw, 3rem);
    font-weight: 700;
  }

  .lead,
  h2.sub {
    font-size: clamp(1rem, 2.3vw, 1.25rem);
    font-weight: 500;
    line-height: 1.45;
  }
}
